<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<link href="/sty.css" rel="stylesheet">
    <title>DOCTOR SAHEB</title>
</head>
<body>
<div class="flex-container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/"><i class="fa fa-user-md" aria-hidden="true"></i>    DOCTOR SAHEB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/about">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/team">Our Team</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">

               <a href="/search" <button class="btn btn-outline-success my-2 my-sm-0" >Search Again</button> ></a>
            </form>
        </div>
    </nav>

    <div>
<h1 align="center" class="h1">SEARCH  RESULTS !!!</h1>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>

            <th  scope="col">NAME</th>
            <th  scope="col">TITLE</th>
            <th scope="col">GENDER</th>
            <th  scope="col">IMAGE</th>
            <th  scope="col">BIO</th>


        </tr>
        </thead>
        <tbody>

        <%data["data"].forEach(function (dr) {%>
        <tr>

            <td > <%=dr["profile"].first_name%> <%=dr["profile"].middle_name%> <%=dr["profile"].last_name%></td>
            <td > <%= dr["profile"].title %></td>
            <td >  <%=dr["profile"].gender%></td>
            <td > <img src="<%= dr["profile"].image_url%>"></td>
            <td >  <%=dr["profile"].bio%></td>


        </tr>


        <% })%>

        </tbody>
    </table>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>